apiVersion: v1
kind: ConfigMap
metadata:
  name: image-validation-webhook-whitelist
  namespace: registry-system
data:
  whitelist-image.json: |-
    ["image-validation-webhook"]
  whitelist-namespace.json: |-
    [
      "capa-system",
      "capi-kubeadm-bootstrap-system",
      "capi-kubeadm-control-plane-system",
      "capi-system",
      "capi-webhook-system",
      "catalog",
      "ceph-csi",
      "cert-manager",
      "cluster-tsb-ns",
      "console-system",
      "default",
      "hypercloud5-system",
      "ingress-nginx",
      "ingress-nginx-shared",
      "istio-system",
      "istio-test",
      "kube-federation-system",
      "kube-logging",
      "kube-node-lease",
      "kube-public",
      "kube-system",
      "metallb-system",
      "monitoring",
      "registry-system",
      "template",
      "tsb-ns",
      "tsb-test",
      "olm",
      "operators",
      "tekton-pipelines",
      "scheduled-scaler-operator-system",
      "cicd-system",
      "tfapplyclaim",
      "hyperauth"
    ]
